/*¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯\
|*                        EVENT                      |
\___________________________________________________*/

.event-title {
  text-align: center;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.event {
  margin: 1%;
  width: 48%;
  flex-shrink: 0;
  border-radius: var(--radius-big);
  overflow: hidden;
  box-shadow: var(--box-shadow);
}

.event img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  box-shadow: var(--box-shadow-bottom);
}

.event-detail {
  margin: calc(var(--space)*2) calc(var(--space)*4);
  margin-top: -60px;
  background-color: var(--white-color);
  position: relative;
  padding: 20px;
  padding-top: 0;
  text-align: center;
  border-radius: var(--radius-big);
  border: 1px solid var(--grey-color2);
}

.event-description {
  text-align: justify;
}

.event-url {
  border: 1px solid;
  border-radius: var(--radius-small);
  padding: 5px 20px;
  margin: 0 10px;
  text-decoration: none;
  color: var(--primary-color);
  justify-content: space-evenly;
}