/*--------------------------------VARIABLES--------------------------------*/
:root {
  --light-grey-color: #626262;
  --dark-grey-color: #1d252c;
  --bg-grey-color: #1b2127;
  --light-blue-color: #026fff;
  --white-color: #fafafa;
}


/*--------------------------------GENERAL--------------------------------*/
.burger-button {
  display: none;
}

body {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Fjalla one", sans-serif;
  font-weight: normal;
  letter-spacing: -0.2px;
  color: var(--bg-grey-color);
}

h1 {
  font-size: 52px;
  line-height: 1.5;
  letter-spacing: -0.2px;
  color: var(--white-color);
  margin: 0;
}

h1 strong {
  color: var(--light-blue-color);
}

h2 {
  margin-top: 30px;
  color: var(--light-blue-color);
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}

.container {
  max-width: 1024px;
  flex: 1;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}

.footer span,
.link {
  font-weight: bold;
}


/*--------------------------------HEADER--------------------------------*/
.header {
  background-color: var(--bg-grey-color);
  color: var(--white-color);
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

.menu {
  height: inherit;
}

.header ol {
  display: flex;
  height: inherit;
  flex-wrap: wrap;
}

.header ol li {
  height: inherit;
}

.header a {
  display: flex;
  align-items: center;
  height: inherit;
  color: var(--white-color);
  text-decoration: none;
  margin-bottom: 0;
  padding: 0 10px;
  font-size: 24px;
}

.header a,
.container {
  user-select: none;
}


/*--------------------------------HERO--------------------------------*/
.hero {
  height: 90vh;
  background-color: var(--bg-grey-color);
  display: flex;
  align-items: inherit;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
}

.hero-description{
  position: absolute;
  z-index: 2;
  font-size: 62px;
  background-color: var(--bg-grey-color);
  padding: 20px;

}

.hero-image {
  object-fit: cover;
  max-width: 60vw;
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}


/*--------------------------------PORTAFOLIO--------------------------------*/
.portfolio {
  background: var(--white-color);
  padding: 20px;
  height: 100vh;
}

.project {
  box-shadow: 0 0 5px var(--light-grey-color);
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 20px;
  background: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project-date,
.project-url {
  margin: 10px 0;
  font-size: 14px;
  color: var(--light-grey-color);
}

.project-course {
  color: var(--bg-grey-color);
  font-size: 15px;
  margin-top: -10px;
  margin-bottom: 0px;
}

.project-description {
  font-size: 1.2em;
  text-align: justify;
}

.project strong {
  font-family: "Fjalla one", sans-serif;
}

.project-title {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
}

.project-image {
  width: 100%;
  box-shadow: 0 0 5px var(--light-grey-color);
}

.project-details {
  width: 49%;
}

.project-github,
.project-web {
  font-family: "Fjalla one", sans-serif;
  font-weight: normal;
  letter-spacing: -0.2px;
  text-decoration: none;
  color: var(--light-blue-color);
  font-size: 1em;
  margin: 0;
}

.project-imageContainer {
  width: 50%;
}

.project-url a {
  font-family: "Fjalla one", sans-serif;
  color: var(--light-blue-color);
  text-decoration: none;
}


/*--------------------------------EVENTOS--------------------------------*/
#event-list-title {
  margin-top: 0;
  margin-bottom: 10px;
}

.event-title {
  text-align: center;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.event {
  margin: 1%;
  width: 48%;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 5px var(--light-grey-color);
}

.event img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  box-shadow: 0 3px 3px var(--light-grey-color);
}

.event-detail {
  margin: 20px 40px;
  margin-top: -60px;
  background-color: var(--white-color);
  position: relative;
  padding: 20px;
  padding-top: 0;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 20px;
  border: 1px solid var(--light-grey-color);
}

.event-description {
  text-align: justify;
}

.event-url {
  border: 1px solid;
  border-radius: 5px;
  padding: 5px 20px;
  margin: 0 10px;
  text-decoration: none;
  color: var(--light-blue-color);
  justify-content: space-evenly;
}


/*--------------------------------CONTACTO--------------------------------*/
.contact {
  background-color: var(--light-blue-color);
  color: var(--white-color);
  padding: 0 40px;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.social-link {
  display: inline-block;
  width: 38px;
  height: 38px;
  margin: 10px;
  font-size: 40px;
  color: var(--white-color);
  text-decoration: none;
}

.form-email input {
  margin: 0;
  border: var(--light-grey-color) solid;
  border-radius: 5px;
  padding: 10px 20px 10px 25px;
  background-image: url("../images/envelope.svg");
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: 5px center;
}

.form-email button a {
  text-decoration: none;
  color: var(--light-blue-color);
  text-align: center;
  padding: 5px 20px;
  display: flex;
}

.form-email button {
  border: 2px solid var(--light-blue-color);
  background-color: var(--bg-grey-color);
  padding: 5px 0;
  border-radius: 20px;
  font-weight: bold;
}

.form-email h3 {
  font-weight: bold;
  font-size: 24px;
  margin: 5px;
  margin-top: 0;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}

/*--------------------------------FOOTER--------------------------------*/
.footer {
  color: var(--white-color);
  background-color: var(--dark-grey-color);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 50px;
  flex-wrap: wrap;
  height: 15vh;
}

.footer img {
  vertical-align: middle;
}

.footer a {
  color: var(--white-color);
  text-decoration: none;
}

.footer div span a {
  color: var(--light-blue-color);
}

/* .html-video {
    width: 100%;
    height: auto;
} */

/* .youtube-video {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */

/* .flexible-video {
    width: 100%;
    height: 0;
    padding-top: 41%;
    background: var(--light-blue-color);
    position: relative;
} */
