/*¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯\
|*                      CONTACT                      |
\___________________________________________________*/

.contact {
  margin-top: 30px;
  background-color: var(--primary-color);
  color: var(--white-color);
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.social-link {
  display: inline-block;
  width: 38px;
  height: 38px;
  margin: var(--space);
  font-size: 40px;
  color: var(--white-color);
  text-decoration: none;
}

.email-input {
  margin: 0;
  border: 2px solid var(--grey-color2);
  border-radius: var(--radius-small);
  padding: 10px 20px 10px 25px;
  background-image: url("../images/envelope.svg");
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: 5px center;
}

.email-link {
  text-decoration: none;
  color: var(--primary-color);
  text-align: center;
  padding: 5px calc(var(--space)*2);
  display: flex;
}

.email-btn {
  border: 2px solid var(--primary-color);
  background-color: var(--second-color);
  padding: 5px 0;
  border-radius: var(--radius-big);
  font-weight: bold;
}

.email-title {
  font-weight: bold;
  font-size: 24px;
  margin: var(--space);
  margin-top: 0;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}