/*¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯\
|*                      PORTFOLIO                    |
\___________________________________________________*/

.portfolio {
  background: var(--white-color);
  padding:  calc(var(--space)*2);
}

.project {
  box-shadow: var(--box-shadow);
  border-radius: var(--radius-small);
  margin-bottom: var(--space);
  padding: calc(var(--space)*2);
  background: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project-url {
  margin: var(--space) 0;
  font-size: 12px;
  color: var(--grey-color2);
}

.project-course {
  font-size: 15px;
  margin-top: -10px;
  margin-bottom: 0px;
}

.project-description {
  font-size: 1.2em;
  text-align: justify;
}

.project strong {
  font-family: "Fjalla one", system-ui;
}

.project-title {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: var(--space);
}

.project-image {
  width: 100%;
  box-shadow: var(--box-shadow);
}

.project-details {
  width: 49%;
}

.project-github,
.project-web {
  font-family: "Fjalla one", system-ui;
  font-weight: normal;
  letter-spacing: -0.2px;
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1em;
  margin: 0;
}

.project-imageContainer {
  width: 50%;
}

.project-url a {
  font-family: "Fjalla one", system-ui;
  color: var(--primary-color);
  text-decoration: none;
}